.layout-wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: hsl(var(--background));
  overflow: hidden;
}

.main-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 220vh;
  min-width: 0;
  margin-left: 0;
  transition: margin-left 0.3s ease-in-out;
}

.content-area {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 2rem;
  background-color: hsl(var(--background));

  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .main-container {
    margin-left: 0;
  }
}
