# Base de datos
DB_URL=jdbc:postgresql://localhost:5432/SGAC-FINAL
DB_USERNAME=app_user_default
DB_PASSWORD=contrasena_db_ficticia
FLYWAY_USER=administrador_consultas
FLYWAY_PASSWORD=contrasena_flyway_ficticia

# Seguridad
JWT_SECRET=secreto_jwt_super_seguro_ficticio_de_al_menos_32_bytes_de_longitud
JWT_EXPIRATION=36000000
JWT_PRE_AUTH_EXPIRATION=300000

# Cloudinary
CLOUDINARY_CLOUD_NAME=nombre_cloud_ficticio
CLOUDINARY_API_KEY=api_key_ficticia
CLOUDINARY_API_SECRET=api_secret_ficticia

# Email
MAIL_USERNAME=tu_correo@gmail.com
MAIL_PASSWORD=tu_contrasena_de_aplicacion_ficticia


# Inteligencia Artificial
IA_API_URL=https://api.openai.com/v1/chat/completions
IA_API_KEY=tu_api_key_de_openai_o_compatible
IA_API_MODEL=gpt-3.5-turbo
